[MASTER]
disable=C0114,  # missing-module-docstring
        C0115,  # missing class docstring (missing-class-docstring)
        C0116,  # missing function or method docstring (missing-function-docstring)
        R1716,  # Simplify chained comparison between the operands (chained-comparison)
        E0401,  # Unable to import 
        C0325,  # Unnecessary parens after 'if' keyword (superfluous-parens)
        W0622,  # builtin methods used as parameters
        W0703,  # Catching too general exception
        E0015,  # Unrecognized-option
        E0401,  # Import-error
        W3101,  # missing-timeout
        R0903,  # too-few-public-methods
        W0012,  # unknown-option-value
        
good-names = db,id,QTDE

[FORMAT]
max-line-length=240